table
{
    border-collapse: collapse;
    border-width: 1px;
}
td
{
    border-width: 1px;
}
.stil
{
    text-align: left;
}
tr
{
    text-align: center;
    vertical-align: top;
}
tr:hover
{
    background: lightgrey;
}